
.header-bg {
	background-image:url("/public/images/header-bg.jpg");
	margin:auto;
	height: 150px;
}

.header {
	margin:auto;
	width:900px;
	height: 120px;
}

.head-row1 {
	height: 70px;
	padding: 40px 150px 0 0;
}

.head-title {
	margin:auto;
	height: 50px;
	margin: 0 auto;
}

.menu-container {
	margin: 0 auto;
	width:900px;
}

#container {
	margin:auto;
	width:900px;
	min-height: 500px;
}

#footer {
	width:900px;
	margin:auto;
}


.clear {
	clear: both;
}

.test1 {
	background-color:green;
}
.test2 {
	background-color:olive;
}
.test3 {
	background-color:aqua;
}