#{extends 'main.html' /}
#{set title:'Home' /}

<div class="nav">
 	#{if variables}
	 	<table class="table table-hover">
		<thead>
		    <tr>
		      <th>ID</th>
		      <th>Ключ</th>
		      <th>Значение</th>
		    </tr>
		</thead>
		<tbody>
		 	#{list items:variables, as:'variable'}
		    <tr>
		      <td>${variable.id}</td>
		      <td>${variable.key}</td>
		      <td>${variable.value	}</td>
		    </tr>
		    #{/list}
		</tbody>
	</table>
	#{/if}
</div>
