#{extends 'main.html' /}
#{set title:'Home' /}

<div class="nav">
 	#{if blanks}
	 	<table class="table table-hover table-bordered">
		<thead>
		    <tr>
		      <th>ID</th>
		      <th>ИИН</th>
		      <th>ФИО</th>
		      <th>Дата</th>
		      <th>Принятые данные</th>
		      <th>PDF</th>
		      <th>Bar Code</th>
		    </tr>
		</thead>
		<tbody>
		 	#{list items:blanks, as:'blank'}
		    <tr>
		      <td>${blank.id}</td>
		      <td>${blank.iin}</td>
		      <td>${blank.fio}</td>
		      <td>${blank.createDate}</td>
		      <td><a href="@{Variables.blank(blank.id)}">Переменные</a></td>
		      <td>#{if blank.pdfUrl}<a href="${blank.pdfUrl}" download="Form" target="_blank"><span class="icon-file"></span> Скачать</a>#{/if}</td>
		      <td>${blank.barCode}</td>
		    </tr>
		    #{/list}
		</tbody>
	</table>
	#{/if}
</div>
