#{extends 'main.html' /}
#{set title:'Home' /}


<div class="nav">
	<form class="navbar-form">
	  <input type="text" class="span2" name="barCode" value="${barCode}">
	  <button type="submit" class="btn">Submit</button>
	</form>
	
	#{if blanks!=null && blanks.size==0}
		<div class="nav" style="margin:20px 10px 10px 0px;">
		Формы со штрих кодом ${barCode} не найдены 
		</div>
	#{/if}
		
 	#{if blanks}
	 	<table class="table table-hover table-bordered">
		<thead>
		    <tr>
		      <th>ID</th>
		      <th>ИИН</th>
		      <th>ФИО</th>
		      <th>Дата</th>
		      <th>PDF</th>
		      <th>Bar Code</th>
		      <th>Архивировано в</th>
		    </tr>
		</thead>
		<tbody>
		 	#{list items:blanks, as:'blank'}
		    <tr>
		      <td>${blank.id}</td>
		      <td>${blank.iin}</td>
		      <td>${blank.fio}</td>
		      <td>${blank.createDate}</td>
		      <td>#{if blank.pdfUrl}<a href="${blank.pdfUrl}" download="Form" target="_blank">Ссылка</a>#{/if}</td>
		      <td>${blank.barCode}</td>
		      <td>7Р-15</td>
		    </tr>
		    #{/list}
		</tbody>
	</table>
	#{/if}
</div>
